<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @program.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @program.type %>
</p>

<p>
  <strong>Open:</strong>
  <%= @program.open %>
</p>

<p>
  <strong>Mingrade:</strong>
  <%= @program.mingrade %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
